<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><%= link_to "Home", page_home_path %></li>
				<li><%= link_to "About Us", page_about_us_path %>
			    <ul>
   					<li><a href="#">The Ranch</a></li>
   					<li><a href="#">History</a></li>
   					<li><a href="">Vision</a></li>
   				</ul>
  			</li>
				<li><%= link_to "Products", page_products_path %>
					<ul>
						<li><a href="#">Spurs</a></li>
						<li><a href="#">Chaps</a></li>
					</ul>
				</li>
				<li><%= link_to "Articles", page_articles_path %>
					<ul>
						<li><a href="#">Rodeos</a></li>
						<li><a href="#">Wrangling</a></li>
					</ul>
				</li>
				<li><%= link_to "Contact Us", page_contact_us_path %></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->